body {
    font-family: cursive;
    background-color: #ffceed;
}

.navbar {
    /* border: 2px solid black; */
    height: 6rem;
    width: 15rem;
    display: inline-block;
}

.navbar img {
    width: 50%;
}

.navbar ul {
    display: table-row;
}

.navbar ul li {
    font-weight: bolder;
    display: table-cell;
    height: 100px;
    list-style-type: none;
    margin: 10px;
    vertical-align: middle;
}

.header {
    /* border: 2px solid black; */
    height: 2rem;
    margin: 5px;
    padding: 2px;
    display: inline-block;
    width: 81%;
    text-align: right;
    font-size: 20px;
}

.header img {
    width: 2%;
}


/* .users {
     display: inline-block; 
}  */

.users ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 2rem;
    padding: 0rem;
    list-style-type: none;
}

.users li {
    font-size: 0.8rem;
}

.user_blocks {
    z-index: 1000;
    border: 4px solid black;
    border-radius: 20px;
    background-color: rgb(235, 186, 123);
    text-decoration: none;
    margin: 2rem;
    padding: 2rem;
    width: 20rem;
    height: 8rem;
    box-shadow: 2px 2px 4px 3px rgb(91, 163, 82);
}

.users ul :hover {
    cursor: pointer;
    box-shadow: 3px 3px 4px 3px rgb(30, 245, 2);
}

.users img {
    display: block;
    width: 100%;
}

.pair {
    background-color: rgb(226, 201, 162);
    display: block;
    align-content: center;
}

.pair-title {
    color: darkblue;
    font-weight: bolder;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.pair img {
    width: 70%;
}

.pair ul {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 2rem;
    padding: 0rem;
    list-style-type: none;
}